<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlGerenteEntities" connectionString="metadata=res://*/SqlGerenteEntities.csdl|res://*/SqlGerenteEntities.ssdl|res://*/SqlGerenteEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVV-DESARROLLO;initial catalog=SqlGerente;user id=sis_milton;password=milton*88;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>